.header{
    width: 1200px;
    height: 500px;
    margin-left: -65px;
    border-radius: 16px;
    margin-top: -100px;
}
.header .img{
    width: 1280px;
    height: 580px;
    border-radius: 16px;
    margin-top: -110px;
}
.header .rect{
    position: relative;
    margin-top: 10px;
}
.header .logo{
   width: 360px;
   height: 30px;
   margin-top: 42px;
   margin-left: 27px;
   margin-top: 27px;
   position: absolute;
   
}
.header .logo-group{
    display: flex;
    justify-content: space-between;
}
.logo-group .group{
    background-color: rgb(162, 162, 164);
    margin-top: 42px;
   margin-left: 27px;
   margin-top: 27px;
   position: absolute;
   margin-left: 1100px;
   margin-top: 50px;
   padding: 5px;
   border-radius: 10px;
   padding-left: 10px;
   padding-right: 10px;
}
.sub-header .sub-img{
    width: 979px;
    height: 416px;
    margin-top: 192px;
    border: 1px;

}
.sub-inner .input-form input{
    width: 270px;
    height: 50px;
    border-radius: 16px;
    margin-left: 20px;
    font-size: 17px;
    font-weight: 500;
    font-family: "kanit";
    color: #FFFFFF;
    background-color: #a1a0a0;
    border: none;
    margin: 10px;
    margin-right: 70px;
    padding-left: 10px;
}
.input-radio{
    margin-top: 20px;
    margin-bottom: 20px;
}
.input-radio label{
    width: 200px;
    height: 30px;
    font-family: "kanit";
    font-weight: 500;
    font-size: 25px;
    line-height: 37.84px;
    color: #FFFFFF;
    
}
.form-button button{
    width: 220px;
    height: 45px;
    border-radius: 16px;
    background-color: #00B2FF;
    font-family: "kanit";
    font-weight: 500;
    font-size: 25px;
    line-height: 37.84px;
    color: #FFFFFF;
    margin-right: 90px;
    margin-left: 10px;
    text-align: center;
    
    padding-bottom: 50px;
}
.sub-header{
    margin-top: -650px;
    margin-left: 20px;
}
.sub-inner{
    margin-top: -350px;
}